<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Register')">
        <meta charset="UTF-8" />
        <title>SOMEHOME</title>
    </head>

    <body>

        <!-- Page information -->
        <div th:replace="fragments/layout :: page_information(text='')"></div>

        <!-- Navigation -->
        <nav th:replace="fragments/layout :: navigation"></nav>

        <!-- Page Content -->
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-5">Sign up</h1>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-3"></div>
                <div class="col-lg-6 text-center">

                    <!-- login --> 
                    <form th:action="@{/register}" th:object="${account}" method="POST">
                        <div class="form-group">
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"></p>
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control" th:field="*{username}"></input>
                        </div>
                        <div class="form-group">
                            <p th:if="${#fields.hasErrors('profilename')}" th:errors="*{profilename}" class="alert alert-danger"></p>
                            <label for="profilename">Profile name</label>
                            <input type="text" id="profilename" name="profilename" class="form-control" th:field="*{profilename}"></input>
                        </div>
                        <div class="form-group">
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></p>
                            <label for="password">New password</label>
                            <input type="password" id="password" name="password" class="form-control" th:field="*{password}"></input>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Sign up</button>
                    </form>

                </div>
                <div class="col-3"></div>
            </div>

            <br/>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <span>Already a member?</span>
                    <a th:href="@{/login}">Sign in</a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div th:replace="fragments/layout :: page_footer"></div>

    </body>
</html>
